<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Film Arşivi Yönetimi</title>
  </head>
  <style>
    header {
      padding: 20px;
      margin: 0 auto;
    }
    a {
      color: black;
      text-decoration: none;
    }
    a:visited {
      color: black;
    }
  </style>
  <body>
    <header>
      <a href="/">Ana Sayfa</a>
      <a href="/films">Tüm Filmler</a>
      <a href="/api/films" target="_blank">Tüm Filmler API</a>
      <a href="/api/stats" target="_blank">İstatistikler API</a>
      <a href="/reports/export" target="_blank">Export Report</a>
    </header>
    <p>Page Not Found...</p>
  </body>
</html>
